@model BattleIntel.Web.Models.UserIndexModel

@{
    ViewBag.Title = "Your Account";
}

@section Header {
    @Html.ActionLink("Back", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

<p>
    <strong>@Model.User.DisplayName</strong> (@Model.User.Email) joined @Html.DisplayFor(x => x.User.JoinDateUTC)
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Log off", "LogOff")</li>
</ul>