@model BattleIntel.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Model.OpenIdProvider = "https://www.google.com/accounts/o8/id";
}

@section Header {
    @Html.ActionLink("Cancel", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false)

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.OpenIdProvider)
            @Html.TextBoxFor(m => m.OpenIdProvider)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.RememberMe)
            @Html.CheckBoxFor(m => m.RememberMe)
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="Log in" />
        </li>
    </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}